.app-container {
  text-align: center;
}

.nat-parks-logo {
  margin-right: 15px;
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: 14pt;
}

nav {
  background: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 20px;
}

nav img {
  max-height: 65px;

  display: inline-block;
  vertical-align: middle;
}

nav h1 {
  margin: 0;
  display: inline-block;
  vertical-align: middle;
}

nav a {
  color: white;
  display: inline-block;
  padding: 20px;
  font-size: 1.2em;
  text-decoration: none;
}

nav a:hover {
  background: #282c34;
}

.parks-container {
  padding: 15px;
}

.single-park-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;

  background-color: teal;

  height: 250px;
  width: 250px;
}

.single-park-container .subtitle {
  transform: translateY(175px);
  color: rgba(255, 255, 255, 1);
  font-size: 20px;
  font-weight: 800;
}

.single-park-container:hover {
  color: rgba(255, 255, 255, 0.2);
}

.park-thumbnail {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

footer {
  margin-top: 75px;
  position: static;
  bottom: 0;
}
