.app-container {
  text-align: center;
}

.nat-parks-logo {
  margin-right: 15px;
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: 14pt;
}

nav {
  background: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 20px;
}

nav img {
  max-height: 65px;

  display: inline-block;
  vertical-align: middle;
}

nav h1 {
  margin: 0;
  display: inline-block;
  vertical-align: middle;
}

nav a {
  color: white;
  display: inline-block;
  padding: 5px;
  font-size: 1.2em;
  text-decoration: none;
}

nav a:hover {
  background: #282c34;
}

.nps-header {
  margin-top: 50px;
}

.single-park-container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin: 25px;

  /* background-color: teal; */
  /* border: 1px solid black; */

  height: 250px;
  width: 250px;
}

.single-park-container .subtitle {
  color: rgba(255, 255, 255, 1);
  text-shadow: 2px 2px 2px rgba(81, 81, 81, 0.95);
  font-size: 20px;
  font-weight: 800;

  transform: translateY(150px);

  transition: ease-in 150ms;
}

.single-park-container p:hover {
  color: rgba(255, 255, 255, 0.8);
  text-shadow: 2px 2px 2px rgba(81, 81, 81, 0.65);

  transition: ease-in 150ms;
}

.park-thumbnail {
  width: 100%;
  height: 100%;
  object-fit: fill;
  clip-path: stroke-box;
}

.row-spacer-div {
  content: "";
  margin-bottom: 5vh;
}

.hero-container {
  margin: 50px 25px 75px 25px;
}

.hero-image {
  height: auto;
  max-height: 70vh;
  max-width: 45vw;
}

.hero-container h1 {
  margin-top: 25px;
}

.hero-container p {
  margin: 3px;
}

.park-addresses p {
  margin: 0px;
}

.park-images {
  margin-top: 75px;
  height: 350px;
  width: auto;
}

footer {
  margin-top: 75px;
  position: static;
  bottom: 0;
}
